<% layout("/layouts/boilerplate")%>
<section class="overflow-hidden">
  <div class="mx-auto max-w-5xl px-5 py-24">
    <div class="mx-auto flex flex-wrap items-center lg:w-4/5 mb-8">
      <img
        alt="Listing details"
        class="h-64 w-full rounded object-cover lg:h-96 lg:w-1/2"
        src="<%=listing.image%>"
      />
      <div class="mt-6 w-full lg:mt-0 lg:w-1/2 lg:pl-10">
        <h2 class="text-sm font-semibold tracking-widest text-gray-500">
          Owner:<%=listing.owner.userName%>
        </h2>
        <h1 class="my-4 text-3xl font-semibold text-black">
          <%=listing.title%>
        </h1>
        <div class="flex items-center my-3">
          <svg
            class="w-4 h-4 text-yellow-300 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          <svg
            class="w-4 h-4 text-yellow-300 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          <svg
            class="w-4 h-4 text-yellow-300 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          <svg
            class="w-4 h-4 text-yellow-300 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          <svg
            class="w-4 h-4 text-gray-300 me-1 dark:text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 20"
          >
            <path
              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
            />
          </svg>
          <p class="ms-1 text-sm font-medium text-gray-500 dark:text-gray-400">
            <%=listing.ratings.length%> reviews
          </p>
        </div>
        <p class="leading-relaxed"><%=listing.description%></p>
        <div
          class="mb-5 mt-6 flex items-center border-b-2 border-gray-100 pb-5"
        >
          <div class="flex items-center">
            <span class="mr-1 text-sm font-semibold"
              ><%=listing.location%>,</span
            >
            <span class="mr-3 text-sm font-semibold"><%=listing.country%></span>
          </div>
          <div class="ml-auto flex items-center">
            <span class="mr-3 text-sm font-semibold"
              >Category : <%=listing.category%></span
            >
            <div class="relative">
              <span
                class="pointer-events-none absolute right-0 top-0 flex h-full w-10 items-center justify-center text-center text-gray-600"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-chevron-down"
                >
                  <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-between">
          <span class="title-font text-xl font-bold text-gray-900">
            &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
          </span>
          <%if(currUser && currUser.id == listing.owner.id){%>
          <form
            action="/listings/delete/<%=listing._id%>?_method=DELETE"
            method="post"
          >
            <a
              href="/listings/edit/<%=listing._id%>"
              class="rounded-md bg-red-500 px-5 py-2 text-sm font-semibold text-white shadow-sm hover:opacity-85 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
              >Edit</a
            >
            <button
              class="rounded-md bg-transparent px-5 py-2 text-sm font-semibold text-black hover:bg-black/10 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              Delete
            </button>
          </form>
          <%}%>
        </div>
      </div>
    </div>
    <%if(currUser){%>
    <div class="my-5">
      <hr />
      <h2 class="my-3 text-3xl">Leave a Review</h2>
      <form action="/listings/ratings/<%=listing._id%>" method="post">
        <div class="flex flex-row-reverse justify-end items-center">
          <input
            id="rating-5"
            type="radio"
            name="rating"
            value="5"
            class="hidden peer"
          />
          <label
            for="rating-5"
            class="cursor-pointer text-gray-300 peer-checked:text-yellow-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971a1 1 0 00.95.69h4.17c.969 0 1.371 1.24.588 1.81l-3.385 2.461a1 1 0 00-.364 1.118l1.286 3.971c.3.921-.755 1.688-1.54 1.118l-3.385-2.461a1 1 0 00-1.175 0l-3.385 2.461c-.785.57-1.839-.197-1.54-1.118l1.286-3.971a1 1 0 00-.364-1.118L2.537 9.398c-.783-.57-.38-1.81.588-1.81h4.17a1 1 0 00.95-.69l1.286-3.971z"
              />
            </svg>
          </label>
          <input
            id="rating-4"
            type="radio"
            name="rating"
            value="4"
            class="hidden peer"
          />
          <label
            for="rating-4"
            class="cursor-pointer text-gray-300 peer-checked:text-yellow-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971a1 1 0 00.95.69h4.17c.969 0 1.371 1.24.588 1.81l-3.385 2.461a1 1 0 00-.364 1.118l1.286 3.971c.3.921-.755 1.688-1.54 1.118l-3.385-2.461a1 1 0 00-1.175 0l-3.385 2.461c-.785.57-1.839-.197-1.54-1.118l1.286-3.971a1 1 0 00-.364-1.118L2.537 9.398c-.783-.57-.38-1.81.588-1.81h4.17a1 1 0 00.95-.69l1.286-3.971z"
              />
            </svg>
          </label>
          <input
            id="rating-3"
            type="radio"
            name="rating"
            value="3"
            class="hidden peer"
          />
          <label
            for="rating-3"
            class="cursor-pointer text-gray-300 peer-checked:text-yellow-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971a1 1 0 00.95.69h4.17c.969 0 1.371 1.24.588 1.81l-3.385 2.461a1 1 0 00-.364 1.118l1.286 3.971c.3.921-.755 1.688-1.54 1.118l-3.385-2.461a1 1 0 00-1.175 0l-3.385 2.461c-.785.57-1.839-.197-1.54-1.118l1.286-3.971a1 1 0 00-.364-1.118L2.537 9.398c-.783-.57-.38-1.81.588-1.81h4.17a1 1 0 00.95-.69l1.286-3.971z"
              />
            </svg>
          </label>
          <input
            id="rating-2"
            type="radio"
            name="rating"
            value="2"
            class="hidden peer"
          />
          <label
            for="rating-2"
            class="cursor-pointer text-gray-300 peer-checked:text-yellow-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971a1 1 0 00.95.69h4.17c.969 0 1.371 1.24.588 1.81l-3.385 2.461a1 1 0 00-.364 1.118l1.286 3.971c.3.921-.755 1.688-1.54 1.118l-3.385-2.461a1 1 0 00-1.175 0l-3.385 2.461c-.785.57-1.839-.197-1.54-1.118l1.286-3.971a1 1 0 00-.364-1.118L2.537 9.398c-.783-.57-.38-1.81.588-1.81h4.17a1 1 0 00.95-.69l1.286-3.971z"
              />
            </svg>
          </label>
          <input
            id="rating-1"
            type="radio"
            name="rating"
            value="1"
            class="hidden peer"
          />
          <label
            for="rating-1"
            class="cursor-pointer text-gray-300 peer-checked:text-yellow-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.971a1 1 0 00.95.69h4.17c.969 0 1.371 1.24.588 1.81l-3.385 2.461a1 1 0 00-.364 1.118l1.286 3.971c.3.921-.755 1.688-1.54 1.118l-3.385-2.461a1 1 0 00-1.175 0l-3.385 2.461c-.785.57-1.839-.197-1.54-1.118l1.286-3.971a1 1 0 00-.364-1.118L2.537 9.398c-.783-.57-.38-1.81.588-1.81h4.17a1 1 0 00.95-.69l1.286-3.971z"
              />
            </svg>
          </label>
        </div>

        <div class="my-3">
          <label for="comment">Review</label>
          <textarea
            name="comment"
            required
            id="comment"
            class="mb-2 p-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm"
            rows="7"
            placeholder="Your Review"
          ></textarea>
        </div>
        <button
          class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-600/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
        >
          Submit
        </button>
      </form>
    </div>
    <%}%>
    <hr />
    <%if(listing.ratings.length>0){%>
    <h1 class="text-4xl my-3">All Reviews</h1>
    <div class="flex flex-wrap">
      <%listing.ratings.forEach((rating) => {%>
      <div class="w-[48%] mr-[10px] my-[6px] rounded-md bg-black p-1">
        <div class="flex flex-col rounded-md bg-white">
          <div class="flex flex-1 flex-col justify-between p-6">
            <div class="mb-2 flex space-x-2">
              <%for(let i=1 ; i<=rating.rating ; i++){%>
              <svg
                class="shrink-0 size-5 text-yellow-400"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                ></path>
              </svg>
              <%}%>
            </div>
            <div class="flex-1 pt-2">
              <blockquote>
                <p class="text-lg text-gray-800"><%=rating.comment%></p>
              </blockquote>
            </div>
            <div
              class="mt-8 border-t border-gray-300 pt-4 dark:border-gray-800"
            >
              <div class="flex items-center">
                <img
                  class="h-10 w-10 flex-shrink-0 rounded-full object-cover"
                  src="<%=rating.author.avatar%>"
                  alt=""
                />
                <div class="ml-3 min-w-0 flex gap-10">
                  <div>
                    <p
                      class="truncate mt-[0.4vw] text-base font-semibold text-gray-800"
                    >
                      @<%=rating.author.userName%>
                    </p>
                  </div>
                  <%if(currUser && rating.author.id == currUser.id){%>
                  <form
                    action="/listings/<%=listing._id%>/ratings/<%=rating._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button
                      class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                    >
                      Delete
                    </button>
                  </form>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%})%>
    </div>
    <%}%>
    <div>
      <h3 class="text-3xl my-3">Where you'll be</h3>
      <div id="map"></div>
    </div>
  </div>
</section>
<script>
  mapboxgl.accessToken = "<%=process.env.MAP_BOX_TOKEN%>";
  const coordinates = <%= JSON.stringify(listing.geometry.coordinates) %>;
  const map = new mapboxgl.Map({
    container: "map", // container ID
    center: coordinates, // starting position [lng, lat]. Note that lat must be set between -90 and 90
    zoom: 12, // starting zoom
  });

  console.log(coordinates);

  const marker = new mapboxgl.Marker({color:"red"})
  .setLngLat(coordinates)
  .addTo(map)
</script>
